<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ASS1_INF205ConnectionString" connectionString="Data Source=HONG_THAM\SQLEXPRESS;Initial Catalog=ASS1_INF205;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ASS1_INF205ConnectionString2" connectionString="Data Source=HONG_THAM\SQLEXPRESS;Initial Catalog=ASS1_INF205;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ASS1_Thamnthpd01242_INF205ConnectionString" connectionString="Data Source=HONG_THAM\SQLEXPRESS;Initial Catalog=ASS1_Thamnthpd01242_INF205;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
</configuration>